*{
    text-align: left;
    font-family: sans-serif;
    background-color: blueviolet;
    color: rgb(255, 208, 0);
 }
 body{
     background-color: blueviolet;
 }

.main-image img {
    height: 30em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

img{ 
    display: inline-block;
    width: 33%;
}

.image-carousel{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.paragraph2{
    width:100%;
}

.navbar {
    border: 2px solid blue;
    margin-left: 5%;
    margin-right: 5%;
    
}
.nav-item {
    justify-content: center;
    margin: 10%;
    width: 100%;

}

.main-component{
    padding-left: 5%;
    padding-right: 5%;
}

p{
    width: 100%;
    text-align: left;
}

.footer {
    border: 2px solid blue;
    margin-left: 5%;
    margin-right: 5%;
    text-indent: 45%;
}